<h2>Add a course</h2>

<form action="/course/add" method="post">
  <input type="text" name="name" placeholder="course name">
  <input type="text" name="time" placeholder="time of class">
  <input type="number" name="credits" placeholder="credit value of course">
  <button type="submit" name="button">submit</button>
</form>
