<h2>Add a student</h2>

<form action="/student/add" method="post">
  <input type="text" name="name" placeholder="student name">
  <input type="date" name="doe" placeholder="date of enrollment">
  <button type="submit" name="button">submit</button>
</form>

<p><a href="/student/all">View all Students</a></p>
